@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$bisque-dark: rgba(238,
234,
228,
1);
$font-family-playfair: 'Playfair Display',
serif;
$font-family-roboto: 'Roboto',
sans-serif;
$color-white: white;
$color-black: #1F1A1E;
$color-black-light: #555253;
$color-red: #FF5C59;