    @import './globals.scss';
    body {
        background-color: $bisque-dark;
    }
    
    button {
        border-radius: 4px;
        border: none;
        justify-content: space-between;
        &:hover {
            filter: brightness(130%);
        }
        &.with-image {
            display: flex;
            align-items: center;
            padding: 0px 18px;
            gap: 15px;
            &::before {
                content: '';
                display: block;
                background-image: url("../assets/svg/Email_light.svg");
                background-size: contain;
                background-repeat: no-repeat;
                height: 16px;
                width: 16px;
            }
        }
        &.with-pointer {
            display: flex;
            align-items: center;
            padding: 0px 25px;
            &::after {
                content: '';
                display: block;
                background-image: url("../assets/svg/Arrow_right.svg");
                background-size: contain;
                background-repeat: no-repeat;
                height: 16px;
                width: 16px;
            }
        }
        &.small {
            background: rgba(255, 255, 255, 0.1);
            color: $color-white;
            height: 39px;
            border: 2px solid $color-black-light;
        }
        &.large {
            background: $color-red;
            color: $color-white;
            height: 67px;
        }
    }
    
    .container {
        h1 {
            font-size: 58px;
            line-height: 88px;
            font-family: $font-family-playfair;
            & span {
                color: $color-red;
            }
        }
        h2 {
            font-size: 31px;
            line-height: 36px;
            font-family: $font-family-roboto;
        }
        .login {
            h2 {
                margin-bottom: 58px;
            }
        }
        button {
            font-family: $font-family-roboto;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
        }
        display: flex;
        justify-content: space-between;
        height: 100vh;
        box-sizing: border-box;
        .heading {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            color: $color-white;
            background-color: $color-black;
            border-radius: 4px;
            margin: 4px;
            z-index: 1;
            .background {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                overflow: hidden;
                 :nth-child(1) {
                    position: absolute;
                    top: -250px;
                    right: -250px;
                }
                 :nth-child(2) {
                    position: absolute;
                    bottom: -250px;
                    left: -250px;
                }
            }
            .content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 76px 50px 80px 50px;
                border-radius: 4px;
                height: 100%;
                ol {
                    font-family: $font-family-roboto;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    font-size: 14px;
                    line-height: 26px;
                    margin: 0;
                    padding: 0;
                    list-style: decimal;
                    gap: 16px;
                    li {
                        display: flex;
                        align-items: center;
                        &:nth-child(1) span.enum {
                            background-color: $color-black;
                        }
                        &:nth-child(2) span.enum {
                            background-color: rgba(238, 234, 228, 0.1);
                        }
                        &:nth-child(3) span.enum {
                            background-color: rgba(238, 234, 228, 0.2);
                        }
                        & span.enum {
                            display: flex;
                            font-size: 20px;
                            width: 43px;
                            height: 43px;
                            text-align: center;
                            justify-content: center;
                            align-items: center;
                            border-radius: 4px;
                            margin-right: 18px;
                        }
                        & span.highlight {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transform: translate(0px, 8px);
                            &::after {
                                content: '';
                                display: block;
                                background-image: url("../assets/svg/Highlight.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                width: 74px;
                                height: 15px;
                            }
                        }
                        & span.highlight-red {
                            color: $color-red;
                        }
                    }
                }
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .logo-icon {
                        background-image: url("../assets/svg/logo.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 103px;
                        height: 32px;
                    }
                }
            }
        }
        .login {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            min-width: 398px;
            justify-content: flex-end;
            margin: 81px 50px 85px 50px;
        }
    }
    
    .ellipse {
        background-image: url("../assets/svg/Ellipse.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 600px;
        height: 600px;
        animation: blinker 3s cubic-bezier(.5, 0, 1, 1) infinite;
    }
    
    @media screen and (max-width: 970px) {
        .container {
            .login {
                min-width: 264px;
                flex-grow: 1;
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
            h1 {
                font-size: 42px;
                line-height: 60px;
            }
            h2 {
                font-size: 22px;
                line-height: 36px;
            }
            .heading {
                min-height: 940px;
                .content {
                    padding: 25px 25px 54px 25px;
                }
            }
            .login {
                margin: 100px 30px 30px 30px;
                padding-bottom: 30px;
                h2 {
                    margin-bottom: 22px;
                }
            }
        }
    }
    
    @media screen and (max-width: 375px) {
        .container {
            .login {
                margin: 100px 30px 30px 30px;
                padding-bottom: 30px;
            }
            .heading {
                min-height: 554px;
            }
        }
    }
    
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }